body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/image/paisagemoriente.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.central {
    background: rgba(0, 0, 0, 0.889);
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    max-width: 450px; 
    box-shadow: 3px 5px 9px black;
}

.central input.entrada-cep {
    border: none;
    outline: none;
    width: 86%;
    height: 28px;
    border-radius: 5px;
    background: rgba(128, 128, 128, 0.496);
    color: white;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.central button.pesquisa {
    cursor: pointer;
    border: none;
    outline: none;
    height: 30px;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.central div.central-meio {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 17px;
    margin-top: 20px;
} 